/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    list-style: none;
}
/* common */

/* header */
header {
    display: flex;
    background: #2d4059;
    color: #fff;
    padding: 2.5vh;
	justify-content: space-between;
	align-items: center;
}

header h1 {
    padding-left: 20px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding-right: 25px;
}