@charset "UTF-8";


#content {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	border: 1px solid #bcbcbc;
	margin: 0 auto 20px;
	max-width: 250px;
}

input {
	text-align: center;
	margin: 10px;
}

input:not(:last-child) {
	border: none;
	outline: none;
	border-bottom: 1px solid #343434;
	margin-bottom: 10px;
}